.Header-Container{
    
    .bimg  {
    position: relative;    
        margin: auto;
    width: 100%;
    
    border-radius: 2%;
   };

    .Headertxt{

        color:#078182;
        position: absolute;
        top: 48%;
        left: 50%;
        transform: translate(-50%, -50%);
    };

};
.logo{

    width: 177px;
   height: 80px;
}
.PrismTxt{
    
    color:#078182;
    position: absolute;
    top: 50%;
    left: 63%;
    
}
.Heighttxt{
    color:#078182;
    position: absolute;
    top: 40%;
    left: 63%;
    }
.Plottxt{
    color:#078182;
    position:absolute;
    top: 40%;
    left: 28%;
    ;}